body {
	background: url('/images/b3.png');
}

.image-panel {
	background:#2e2e32;
}
.playlist-image {
	border:6px solid #2e2e32;
}


.navbar-nav li a {
	line-height: 34px;
}

.navbar-collapse {
	line-height: 34px;
}

.modal-dialog {
	left: auto;
}

#search .modal-body {
  max-height: 500px;
  overflow-y: scroll;
}

#search .search-preview {
  max-width: 128px;
  max-height: 96px;
}

#search .searchrow {
  padding-top: 5px;
}


