<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mixalist</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">

    <div class="row">
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-2">
	        <img class="media-object" src="/images/sample2.jpg" alt="...">
		</div>
		<div class="col-md-9">
			<h2>{{.playlist.Title}}</h2>
			<h3>by {{.playlist.Owner.Name}}</h3>
			<br>
			<div>
			<button type="button" class="btn btn-warning btn-xs">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="badge">{{.playlist.Stars}}</span>
			</button>
			<a href="/r?pid={{.playlist.Pid}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Remix</a>
			{{range .playlist.Tags}}
			<br>
			<span class="label label-info">{{.}}</span>
			{{end}}
			</div>
	    </div>
	</div>

	<div class="row" style="border-bottom:1px solid; padding:6px;"> 
	</div>

	{{range .playlist.Entries}}
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-2">
			<div class="media">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="images/sample2.jpg" alt="..." height="128" width="128" >
			    </a>
			  </div>
			</div>
		</div>

		<div class="col-md-9">
			<h3> {{.Title}} </h3>
			<h4> {{.Artist}} </h4>
		</div>
	</div>
	{{end}}
  </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>