<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mixalist</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">

    <div class="row">
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-2">
	        
		</div>
		<div class="col-md-9">
			 <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for music..">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			</div>
			<br>
			
	    </div>
	</div>

	<div class="row" style="border-bottom:1px solid; padding:6px;"> 
	</div>

	
    </div>

	{{range .playlist.Entries}}
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-2">
			<div class="media">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="images/sample2.jpg" alt="..." height="128" width="128" >
			    </a>
			  </div>
			</div>
		</div>

		<div class="col-md-9">
			<h3> {{.Title}} </h3>
			<h4> {{.Artist}} </h4>
			<button type="button" class="btn btn-default">Delete</button>
		</div>
	</div>
	{{end}}
	<div class="row">
	<div class="input-group">
			<input type="text" class="form-control" placeholder="Name of Playlist" aria-describedby="basic-addon2"><button type="button" class="btn btn-default">Save</button>
	</div>
	</div>
  </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>